.header {
    width: 100%;
    height: 80px;
    background-color: #1e88e5;
}

.header-inner {
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: white;
}

.nav {
    display: flex;
    gap: 16px;
}

.nav-item {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
}

.nav-item:hover,
.nav-item.active {
    background-color: white;
    color: black;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.header-right select {
    height: 40px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}

.timer {
    font-size: 16px;
    font-weight: 700;
}