.app {
  width: 100vw;
  min-height: 100vh;
  
  font-family: sans-serif;

  background-color: #FFDDE5;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  
  height: 80px;
  width: 100%;
  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  color: white;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 80px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerRight img {
  width: 22px;
  height: 22px;

  filter: brightness(0) invert(1);
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 60px;
}

/* 홈 배너 */
.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homeBanner {
  height: 600px;

  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
}

/* 배너 박스 */
.bannerBox {
  padding: 10px 30px;
}

.bannerBoxHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px; 
}

.bannerTitle {
  margin: 0; 
  font-size: 18px;
  font-weight: 800;
  color: white;
}

.bannerViewport {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  scroll-snap-type: x mandatory; 
}

.bannerTrack {
  display: flex;
  gap: 15px;
}

.bannerItem {
  flex: 0 0 auto;
  width: 180px;
  height: 180px;
  background: white;

  scroll-snap-align: start; 
}