* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 레이아웃 계산을 편하게 해줍니다 */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e6eeff;
}
