.slider-container {
  overflow: hidden;
  width: 100%;

}

.slider-track {
  display: flex;
  will-change: transform;
}

.slider-item {
  flex: 0 0 20%; /* 한 화면에 5개 */
}

.slider-item img {
  width: 90%;
  padding-bottom: 10%;
  padding-top: 10%;
  display: block;
}

.slider-item img:hover {
  transform: scale(1.1);
}